Frontend/build
Frontend/node_modules
Frontend/.env
Frontend/.next
Frontend/.next-cache
Frontend/.vercel

rag-microservice/.env
rag-microservice/node_modules
rag-microservice/dist
rag-microservice/.vscode
rag-microservice/.DS_Store
rag-microservice/.idea
rag-microservice/.eslintcache
rag-microservice/.cache
rag-microservice/app/__pycache__/
rag-microservice/app/*.pyc
rag-microservice/app/models/__pycache__/
rag-microservice/app/models/*.pyc
rag-microservice/app/services/__pycache__/
rag-microservice/app/services/*.pyc
rag-microservice/app/routers/__pycache__/
rag-microservice/app/routers/*.pyc

.conda